.Pagination {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: nowrap;
    width: 1000px;
}


.BackGround {
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.FilterContainer {
    display: flex;
    width: 1300px;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

select {
    color: gold;
    background-color: rebeccapurple;
    height: 30px;
    width: 210px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    border-radius: 5px;

}

input {
    background-color: gold;
}

button {
    color: gold;
    background-color: rebeccapurple;
    font-size: large;
    border-radius: 5px;
}

button:hover {
    color: rebeccapurple;
    background-color: gold;
}

.RefreshButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
}

.CardsBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
}